USE [Pokemon]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetType]
(
	@PokeId INT,
	@FormId INT
)
RETURNS NVARCHAR(MAX)
BEGIN
	DECLARE @type NVARCHAR(max)
	SELECT @type=COALESCE(@type + '/', '') + t.[Name] 
	FROM Pokemon p JOIN PokeType pt ON pt.PokeId=p.Id AND pt.FormId=p.FormId JOIN [Type] t on pt.TypeId=t.Id
	WHERE p.Id=@PokeId AND p.FormId=@FormId
	RETURN @type
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Battle](
	[AttackMoveTypeId] [int] NOT NULL,
	[DefenderMonoTypeId] [int] NOT NULL,
	[Damage] [float] NOT NULL,
 CONSTRAINT [PK_Battle] PRIMARY KEY CLUSTERED 
(
	[AttackMoveTypeId] ASC,
	[DefenderMonoTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Candy](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](12) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK_Candy] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PokeForm](
	[Id] [int] NOT NULL,
	[Desc] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK_PokeForm] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pokemon](
	[Id] [int] NOT NULL,
	[FormId] [int] NOT NULL,
	[Species] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Atk] [int] NOT NULL,
	[Def] [int] NOT NULL,
	[Hp] [int] NOT NULL,
	[CandyId] [int] NOT NULL,
	[IsLegend] [bit] NOT NULL,
	[IsMythic] [bit] NOT NULL,
	[IsBaby] [bit] NOT NULL,
 CONSTRAINT [PK_Pokemon] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[FormId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PokeType](
	[PokeId] [int] NOT NULL,
	[FormId] [int] NOT NULL,
	[TypeId] [int] NOT NULL,
 CONSTRAINT [PK_PokeType] PRIMARY KEY CLUSTERED 
(
	[PokeId] ASC,
	[FormId] ASC,
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[Id] [int] NOT NULL,
	[Name] [varchar](8) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Battle] ([AttackMoveTypeId], [DefenderMonoTypeId], [Damage]) VALUES (1, 1, 1)
INSERT [dbo].[Battle] ([AttackMoveTypeId], [DefenderMonoTypeId], [Damage]) VALUES (1, 2, 1)
INSERT [dbo].[Battle] ([AttackMoveTypeId], [DefenderMonoTypeId], [Damage]) VALUES (1, 3, 1)
GO
INSERT [dbo].[Candy] ([Id], [Name]) VALUES (1, N'Bulbasaur')
INSERT [dbo].[Candy] ([Id], [Name]) VALUES (4, N'Charmander')
INSERT [dbo].[Candy] ([Id], [Name]) VALUES (7, N'Squirtle')
GO
INSERT [dbo].[PokeForm] ([Id], [Desc]) VALUES (1, N'Normal (original)')
INSERT [dbo].[PokeForm] ([Id], [Desc]) VALUES (2, N'Alola')
INSERT [dbo].[PokeForm] ([Id], [Desc]) VALUES (3, N'Armored (Mewtwo)')
INSERT [dbo].[Pokemon] ([Id], [FormId], [Species], [Atk], [Def], [Hp], [CandyId], [IsLegend], [IsMythic], [IsBaby]) VALUES (1, 1, N'Bulbasaur', 118, 111, 128, 1, 0, 0, 0)
INSERT [dbo].[Pokemon] ([Id], [FormId], [Species], [Atk], [Def], [Hp], [CandyId], [IsLegend], [IsMythic], [IsBaby]) VALUES (2, 1, N'Ivysaur', 151, 143, 155, 1, 0, 0, 0)
INSERT [dbo].[Pokemon] ([Id], [FormId], [Species], [Atk], [Def], [Hp], [CandyId], [IsLegend], [IsMythic], [IsBaby]) VALUES (3, 1, N'Venusaur', 198, 189, 190, 1, 0, 0, 0)
GO
INSERT [dbo].[PokeType] ([PokeId], [FormId], [TypeId]) VALUES (1, 1, 6)
INSERT [dbo].[PokeType] ([PokeId], [FormId], [TypeId]) VALUES (1, 1, 7)
INSERT [dbo].[PokeType] ([PokeId], [FormId], [TypeId]) VALUES (2, 1, 6)
GO
INSERT [dbo].[Type] ([Id], [Name]) VALUES (1, N'Normal')
INSERT [dbo].[Type] ([Id], [Name]) VALUES (2, N'Fire')
INSERT [dbo].[Type] ([Id], [Name]) VALUES (3, N'Fighting')
ALTER TABLE [dbo].[Battle]  WITH CHECK ADD  CONSTRAINT [FK_AttackType] FOREIGN KEY([AttackMoveTypeId])
REFERENCES [dbo].[Type] ([Id])
GO
ALTER TABLE [dbo].[Battle] CHECK CONSTRAINT [FK_AttackType]
GO
ALTER TABLE [dbo].[Battle]  WITH CHECK ADD  CONSTRAINT [FK_DefendType] FOREIGN KEY([DefenderMonoTypeId])
REFERENCES [dbo].[Type] ([Id])
GO
ALTER TABLE [dbo].[Battle] CHECK CONSTRAINT [FK_DefendType]
GO
ALTER TABLE [dbo].[Pokemon]  WITH CHECK ADD  CONSTRAINT [FK_Candy] FOREIGN KEY([CandyId])
REFERENCES [dbo].[Candy] ([Id])
GO
ALTER TABLE [dbo].[Pokemon] CHECK CONSTRAINT [FK_Candy]
GO
ALTER TABLE [dbo].[Pokemon]  WITH CHECK ADD  CONSTRAINT [FK_Pokemon_Form] FOREIGN KEY([FormId])
REFERENCES [dbo].[PokeForm] ([Id])
GO
ALTER TABLE [dbo].[Pokemon] CHECK CONSTRAINT [FK_Pokemon_Form]
GO
ALTER TABLE [dbo].[PokeType]  WITH CHECK ADD  CONSTRAINT [FK_Pokemon] FOREIGN KEY([PokeId], [FormId])
REFERENCES [dbo].[Pokemon] ([Id], [FormId])
GO
ALTER TABLE [dbo].[PokeType] CHECK CONSTRAINT [FK_Pokemon]
GO
ALTER TABLE [dbo].[PokeType]  WITH CHECK ADD  CONSTRAINT [FK_Type] FOREIGN KEY([TypeId])
REFERENCES [dbo].[Type] ([Id])
GO
ALTER TABLE [dbo].[PokeType] CHECK CONSTRAINT [FK_Type]
GO
